body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    padding: 2rem;
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.button-spotify {
    display: inline-block;
    background-color: #1DB954;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.button-spotify:hover {
    background-color: #1ed760;
}

#playlist-container ul {
    list-style-type: none;
    padding: 0;
}

#playlist-container li {
    background-color: #282828;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}